/Projets/
/AI/
/Images/

/Gitea/data/
/Mail/data/
/Monitoring/grafana/data/
/Monitoring/prometheus/data/
/Reverse-Proxy/data/certbot/*/
/Reverse-Proxy/data/nginx/*/
/Pro/**/
/Projets/Shop/**/
/**/*data*/**
!/Reverse-Proxy/data/certbot/
!/Reverse-Proxy/data/nginx/conf.d/
/Reverse-Proxy/data/nginx/conf.d/**
/Reverse-Proxy/data/certbot/**
/Reverse-Proxy/data/nginx/conf.d/*
/Reverse-Proxy/data/certbot/*
/**/logs/*
/**/logs/**	
