banner
**/*secrets*/
**/*secret*/
/**/logs/*
/**/logs/**/
/**/data/*
/**/data/*
/**/data/**/
AI/**
AI/*
Pro/**/
Projets/**/
Mail/data/**
Mail/data/*
Gitea/data/**
Gitea/data/*
Monitoring/**/data/**
Monitoring/**/data/*
Monitoring/**/conf/**
Monitoring/**/conf/*
Reverse-Proxy/data/**/
Reverse-Proxy/data/**/*
Reverse-Proxy/logs/**/
Reverse-Proxy/logs/**/*